header{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
   font-size: 30px;
   height: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
ul{
   font-size: 14px;
   display: inline-block;
   text-align:center;
}
li{
  display: inline-block;
  font-weight: bold;
  margin-left: 20px
}
.head{
   height: 14px;
   background-color: #006699;
   margin-left: auto;
   margin-right: auto;
}
.headText{
   width: 960px;
   color: #FFFFFF;
   margin-left: auto;
   margin-right: auto;
}
body{
  width: 1500px;
  height: 1100px;
overflow: hidden;
}
main{
  width: 960px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  }
.ichise{
  float: left;
  width: 700px;
  height: 200px;
  }
.yagishita{
  font-size: 16px;
  border-bottom: solid 3px;
  border-color: #006699;
}
.yagishita1{
  width: 700px;
  height: 75px;
  margin-top: 15px;
  border-bottom: solid 1px;
  border-color: #CCC;
}
.yagishita2{
  width: 140px;
  height: 75px;
  float: left;
}
.yagishita3{
  width: 560px;
  height: 75px;
  float: right;
}

.tamura{
  float: right;
  width: 220px;
  height: 200px;
}
.tamura1{
  width:220px;
  height:25px;
  background-color: #006699;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.tamura2{
  margin-top: 10px;
}
.tamura3{
  margin-top: 10px;
}
footer{
  height: 40px;
  width: 960px;
  border-top: solid 1px;
  border-color: #CCC;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.miyaoka1{
  float: left;
}
.miyaoka2{
  float:left;
}
.miyaoka3{
  float:right;
  font-size: 12px;
  color: #666
}
